﻿@helper Correo(string correo)
{
    <a href="mailto:@correo">@correo</a>
}

@helper Modal(string title)
{
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@title</h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
}

@helper Mensaje(string id, string action, string type, string message)
{
    <div id="@id" class="hidden">
        <div class="alert alert-@type">
            <strong>@action</strong>&nbsp;@message
        </div>
    </div>
}

@helper TodosLosMensajes()
{
    @Mensaje("nm", "Nuevo", "success", "El registro se creó satisfactoriamente")
    @Mensaje("em", "Edición", "success", "El registro se editó satisfactoriamente")
    @Mensaje("emm", "Elminación", "success", "El registro se eliminó satisfactoriamente")
}