﻿
@{
    ViewBag.Title = "ChatDemo";
}

<h2>ChatDemo</h2>

<div class="input-group">
    <input type="text" name="mensaje" class="form-control" id="mensaje" />
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="btn-enviar">Enviar</button>
    </span>
</div>

<ul class="list-unstyled" id="contenedor-mensajes"></ul>

<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="~/SignalR/Hubs"></script>

<script type="text/javascript">
    $(function () {
        // preguntar el nombre del usuario
        var nombreUsuario = prompt("Ingresa tu nombre:", "");

        // referencia al hub
        var chat = $.connection.chatHub;

        // crear una función que se va a ejecutar cada vez que el hub envía la señal actualizarMensajes
        chat.client.actualizarMensajes = function (mensaje, usuario) {
            $("#contenedor-mensajes").append(`<li><strong>${usuario}</strong>: ${mensaje}</li>`);
        }

        chat.client.inicializarMensajes = function (mensajes) {
            console.log(mensajes);
            for (var i = 0; i < mensajes.length; i++) {
                $("#contenedor-mensajes").append(`<li><strong>${mensajes[i].NombreUsuario}</strong>: ${mensajes[i].Mensaje}</li>`);
            }
        }

        // iniciar la conexión con el hub
        $.connection.hub.start().done(function () {
            // solo vamos a asignar el click al botón si la conexión se ha iniciado satisfactoriamente
            $("#btn-enviar").click(function () {
                var mensaje = $("#mensaje").val();
                // cada vez que el usuario envía un mensaje, debe enviar la señal al hub
                chat.server.enviarMensaje(mensaje, nombreUsuario);
            })
        })
    })
</script>