﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShapeDemo</title>
</head>
<body>
    <style>
        #shape {
            height: 100px;
            width: 100px;
            background-color: blue;
            cursor: move;
        }
    </style>
    <div id="shape">
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/SignalR/Hubs"></script>

    <script type="text/javascript">
        $(function () {
            var $shape = $("#shape");
            var hub = $.connection.shapeHub;

            hub.client.updatePos = function (x, y) {
                $shape.css({ left: x, top: y });
            }

            $.connection.hub.start().done(function () {
                $shape.draggable({
                    drag: function () {
                        console.log(this.offsetLeft, this.offsetTop);
                        hub.server.moveShape(this.offsetLeft, this.offsetTop);
                    }
                });
            })
        })

    </script>
</body>
</html>
