﻿@model IEnumerable<Cibertec.Models.Customer>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-container" onclick="cibertec.getModal('@Url.Action("Edit", new { id=item.Id })')">
                    <i class="fas fa-user-edit"></i> Editar
                </a>
                <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-container" onclick="cibertec.getModal('@Url.Action("Delete",new { id = item.Id})')">
                    <i class="fas fa-times-circle"></i> Eliminar
                </a>
            </td>
        </tr>
    }

</table>
