﻿@model IEnumerable<Cibertec.Models.Customer>

@{
    ViewBag.Title = "Index";
}

@*Se han reemplazado los mensajes por la librería Toastr*@
@*@CibertecHelpers.TodosLosMensajes()*@

<h2>Index</h2>

@*
    Botón para abrir el modal
    @Url.Action("Create") = '/Customer/Create'
*@
<div class="row">
    <div class="col-xs-12">
        <button onclick="cibertec.getModal('@Url.Action("Create")'); return false;" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-container">
            Nuevo Registro
        </button>
    </div>
</div>


<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@CibertecHelpers.Modal("Customer")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App/Cibertec.js" type="text/javascript"></script>
<script src="~/App/Customer.js" type="text/javascript"></script>