﻿$site-color-white: #fff;
$site-color-black: #000;
$site-color-green: #6DB130;

$background-color: #fff;

$button-color-white: #f5eded;
$button-color-black: #2f2e2e;

$button-hover-color-black: #575656;

