﻿
@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido</h2>

<p>Suma 1 + 1 = @(1 + 1)</p>

@{
    // todo el código C# que se desee
    var apellido = "Balbín";
    var apellido2 = "Rojas";

    if (true)
    {
        apellido = apellido2;
    }
}

@{
}

@for (int i = 0; i < ViewBag.Veces; i++)
{
    <p>Nombre: @ViewBag.Nombre</p>

    <p>Apellido: @apellido @apellido2</p>

    <p>Correo: @CibertecHelpers.Correo("correo@mail.com")</p>
}



