﻿
@{
    ViewBag.Title = "OrderItems";
}

<div class="row">
    <div class="col-md-6">
        <h2 id="titulo">Orden N°</h2>
    </div>
    <div class="col-md-6">
        <h3 id="montoTotal"></h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-inline">
            <div class="form-group">
                <label>Seleccione el Cliente: </label>
                <select id="customers" class="form-control"></select>
            </div>
            <button class="btn btn-primary btn-sm" type="button" id="btnGuardarOrden">
                Guardar Orden
            </button>
        </div>
    </div>
</div>

<input type="hidden" id="hdnId" value="0" />

<div class="row">
    <div class="col-xs-12">
        <h3>Items</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-inline">
            <div class="form-group">
                <label>Producto</label>
                <select id="products" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Cantidad</label>
                <input type="text" id="txtCantidad" value="0" class="form-control" />
            </div>
            <button class="btn btn-link" type="button" id="btnAgregarItem">
                <i class="fa fa-plus"></i> Agregar Item
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-condensed" id="tblItems">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Precio unitario
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var urlBase = "http://localhost:57251/api";
        // 1. Inicializar la data del select customers
        $.ajax({
            type: "GET",
            url: `${urlBase}/Customer`, // URL del servicio que devuelve la lista de Customer
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    $("#customers").append(`<option value='${item.Id}'>${item.FirstName} ${item.LastName}</option>`);
                })
            }
        })

        // 2. Inicializar el botón btnGuardarOrden
        $("#btnGuardarOrden").on("click", function () {
            var idCustomerSeleccionado = $("#customers").val();
            console.log(idCustomerSeleccionado);

            // mediante Ajax, guardamos la cabecera de la orden
            // declarar el objeto a guardar
            var ordenGuardar = {
                id: $("#hdnId").val(),
                customerId: idCustomerSeleccionado
            };
            $.ajax({
                type: "POST",
                url: `${urlBase}/Order`,
                data: ordenGuardar,
                success: function (response) {
                    console.log(response);
                    $("#hdnId").val(response.Id);
                    $("#titulo").text(`Orden N° ${response.OrderNumber}`);
                }
            })
        })

        // 3. Inicializar el select de products
        $.ajax({
            type: "GET",
            url: `${urlBase}/Product`, // URL del servicio que devuelve la lista de Products
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    $("#products").append(`<option value='${item.Id}'>${item.ProductName} ($ ${item.UnitPrice})</option>`);
                })
            }
        })

        // 4. Inicializar el botón para agregar items
        $("#btnAgregarItem").on("click", function () {
            // validar que exista un Id de orden
            var orderId = $("#hdnId").val();
            if (orderId && orderId != 0) {
                // agregamos el item
                var itemGuardar = {
                    orderId: $("#hdnId").val(),
                    quantity: $("#txtCantidad").val(),
                    productId: $("#products").val()
                }

                $.ajax({
                    type: "POST",
                    url: `${urlBase}/OrderItem`,
                    data: itemGuardar,
                    success: function (response) {
                        //la respuesta satisfactoria del servicio será el objeto orden con el monto total actualizado
                        console.log(response);

                        // actualizar el elemento que muestra el monto total de la orden
                        $("#montoTotal").text(`Monto Total: $ ${response.TotalAmount}`);

                        // actualizar la tabla de items
                        actualizarTablaItems();
                    }
                })
            }
            else {
                alert("Antes de agregar un item, debe generar la orden");
                return;
            }
        })

        function actualizarTablaItems() {
            // antes de utilizar el append, limpiamos el contenido del tbody para evitar duplicar los registros
            $("#tblItems tbody").html("");

            $.ajax({
                type: "GET",
                url: `${urlBase}/orderitems/productnames/${$("#hdnId").val()}`,
                success: function (items) {
                    $.each(items, function (i, item) {
                        // agregar el nuevo item a la tabla
                        $("#tblItems tbody").append(`
                            <tr>
                                <td>
                                    ${item.ProductName}
                                </td>
                                <td>
                                    ${item.UnitPrice}
                                </td>
                                <td>
                                    ${item.Quantity}
                                </td>
                                <td>
                                    <a href='#' data-id='${item.Id}' class='link-eliminar'><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>
                        `)
                    })
                }
            })
        }

        $("#tblItems tbody").on("click", ".link-eliminar", function () {
            var id = $(this).data("id");
            $.ajax({
                type: "DELETE",
                url: `${urlBase}/OrderItem/${id}`,
                success: function (order) {
                    console.log("order", order);
                    $("#montoTotal").text(`Monto Total: $${order.TotalAmount}`);
                    actualizarTablaItems();
                }
            })
        })
    })
</script>



